@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}
button, input { cursor: pointer; outline: none; background: none; border: none; }

#title {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  font-weight: 900;
  color: #11052C;
  opacity: 0.9;
  text-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  line-height: 110%;
}
#title span {
  color: #FF0080;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: rgba(0,0,0,.02);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 95vw;
  text-align: center;
}

#randomColor {
  /* margin-top: 0.2rem; */
  display: inline-block;
  text-decoration: none;
  color: #11052C;
  font-size: 1rem;
  opacity: 0.8;
}
#randomColor:hover {
  color: #FF0080;
  text-decoration: underline;
}

.box {
  margin: 1.5rem auto 1.8rem auto;
  background-image: linear-gradient(45deg, #FF0080, #0000FF);
  width: 18rem;
  height: 24rem;
  animation: 0.5s animasiBox;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: 0.5rem;
  transition: 0.3s;
}

input[type=color] {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.15s;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: 0.3s;
}
input[type=color]::-webkit-color-swatch:hover {
  border: 1px solid rgba(17, 5, 44,.9);
  transform: translateY(-2px);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

#result {
  font-size: 1.5rem;
  color: #11052C;
  opacity: 0.8;
  font-family: 'Hack', 'Consolas', monospace;
  font-weight: 700;
}

#changeBG {
  display: inline-block;
  margin: auto;
  margin-right: 0.5rem;
  border: 1px solid #FF0080;
  padding: 0.5rem;
  color: #11052C;
  font-size: 1.1rem;
  color: rgba(0,0,0,.9);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 2rem;
  transition: 0.3s;
}
#defaultBG {
  display: inline-block;
  margin: 1.5rem auto;
  border: 1px solid #11052C;
  padding: 0.5rem;
  color: #11052C;
  font-size: 1.1rem;
  color: rgba(0,0,0,.9);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-radius: 2rem;
  transition: 0.3s;
}

#changeBG:hover {
  /* border: none !important; */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background: #FF0080;
  color: #eee;
  border-radius: 0.2rem;
  border: 1px solid transparent;
}
#defaultBG:hover {
  opacity: 0.8;
  border-radius: 0.2rem;
}

#changeBG:active, #defaultBG:active {
  transform: scale(0.98);
  border-radius: 0rem;
}
#changeBG:active { color: #eee; border: 1px solid transparent; }


footer {
  margin: 1.5rem 0;
  text-align: center;
  color: #11052C;
  opacity: 0.5;
  font-weight: 500;
  font-family: 'Hack', monospace;
}
footer span {
  display: inline-block;
}

.footer-logo {
  opacity: 0.8;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px dotted #FF0080;
}

@media (max-width: 768px) {
  #title {
    margin-top: 2rem;
  }
  #changeBG {
    margin-top: 0.8rem;
  }
  #defaultBG {
    margin: 0.8rem auto 1.5rem auto;
  }
}






/* ANIMATION */
@keyframes animasiBox {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}





/* FF0080 */
/* WAVES */
.waves-effect{position:relative;cursor:pointer;display:inline-block;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;vertical-align:middle;z-index:1;-webkit-transition:.3s ease-out;transition:.3s ease-out}.waves-effect .waves-ripple{position:absolute;border-radius:50%;width:20px;height:20px;margin-top:-10px;margin-left:-10px;opacity:0;background:rgba(0,0,0,0.2);-webkit-transition:all 0.7s ease-out;transition:all 0.7s ease-out;-webkit-transition-property:opacity, -webkit-transform;transition-property:opacity, -webkit-transform;transition-property:transform, opacity;transition-property:transform, opacity, -webkit-transform;-webkit-transform:scale(0);transform:scale(0);pointer-events:none}.waves-effect.waves-light .waves-ripple{background-color:rgba(255,255,255,0.45)}.waves-effect.waves-red .waves-ripple{background-color:rgba(244,67,54,0.7)}.waves-effect.waves-yellow .waves-ripple{background-color:rgba(255,235,59,0.7)}.waves-effect.waves-orange .waves-ripple{background-color:rgba(255,152,0,0.7)}.waves-effect.waves-purple .waves-ripple{background-color:rgba(156,39,176,0.7)}.waves-effect.waves-green .waves-ripple{background-color:rgba(76,175,80,0.7)}.waves-effect.waves-teal .waves-ripple{background-color:rgba(0,150,136,0.7)}.waves-effect.waves-pink .waves-ripple{background-color:rgba(255, 0, 128,0.7)}.waves-effect input[type="button"],.waves-effect input[type="reset"],.waves-effect input[type="submit"]{border:0;font-style:normal;font-size:inherit;text-transform:inherit;background:none}.waves-effect img{position:relative;z-index:-1}.waves-notransition{-webkit-transition:none !important;transition:none !important}.waves-circle{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-mask-image:-webkit-radial-gradient(circle, white 100%, black 100%)}.waves-input-wrapper{border-radius:0.2em;vertical-align:bottom}.waves-input-wrapper .waves-button-input{position:relative;top:0;left:0;z-index:1}.waves-circle{text-align:center;width:2.5em;height:2.5em;line-height:2.5em;border-radius:50%;-webkit-mask-image:none}.waves-block{display:block}.waves-effect .waves-ripple{z-index:-1}
